body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#title {
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display:flex;
    flex-wrap: wrap;
}

#temp {
    background-color: rgb(51, 51, 51);
    color: white;
}

.tile {
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    color: black;
    font-size: 10px;
    font-weight: bold;
    font-display: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: green;
    color: white;
    border: white;
}

.present {
    background-color: rgb(206, 206, 4);
    color: white;
    border: white;
}

.absent {
    background: gray;
    color: white;
    border: white;
}